<section id="cover" style="margin-top: 8%;
margin-bottom: 5%;">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Fund Transfer</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="transferForm" (ngSubmit)="transferAmount();">
                                <div class="form-group text-left">
                                    <label for="email" class="links">From Account<span
                                            class="required">*</span></label>
                                            <select class="form-control" formControlName="fromAccount">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                    <div *ngIf="transfer.fromAccount.touched && transfer.fromAccount.invalid" class="error">
                                        <div *ngIf="transfer.fromAccount.errors && transfer.fromAccount.errors.required ">
                                            To currency is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">From Currency<span
                                            class="required">*</span></label>
                                            <input type="text" formControlName="fromCurrency" class="form-control"
                                            placeholder="Enter Currency" required>
                                    <div *ngIf="transfer.fromCurrency.touched && transfer.fromCurrency.invalid" class="error">
                                        <div *ngIf="transfer.fromCurrency.errors && transfer.fromCurrency.errors.required ">
                                            From currency is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="account" class="links">To Account<span
                                            class="required">*</span></label>
                                    <input type="text" formControlName="toAccount" class="form-control"
                                        placeholder="Enter To Account" required>
                                    <div *ngIf="transfer.toAccount.touched && transfer.toAccount.invalid" class="error">
                                        <div *ngIf="transfer.toAccount.errors && transfer.toAccount.errors.required ">
                                           To Account is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">To Currency<span
                                            class="required">*</span></label>
                                            <select class="form-control" formControlName="toCurrency">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                    <div *ngIf="transfer.toCurrency.touched && transfer.toCurrency.invalid" class="error">
                                        <div *ngIf="transfer.toCurrency.errors && transfer.toCurrency.errors.required ">
                                            To currency is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group text-left">
                                    <label for="account" class="links">Ammount<span
                                            class="required">*</span></label>
                                    <input type="text" formControlName="ammount" class="form-control"
                                        placeholder="Enter Amount" required>
                                    <div *ngIf="transfer.ammount.touched && transfer.ammount.invalid" class="error">
                                        <div *ngIf="transfer.ammount.errors && transfer.ammount.errors.required ">
                                           Amount is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="transferForm.invalid"
                                    class="btn login_btn">Transfer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

