<section id="cover" style="margin-top: 8%;
margin-bottom: 5%;">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Fund Transfer</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="transferForm" (ngSubmit)="transferAmount();">
                                <div class="form-group text-left">
                                    <label for="email" class="links">From Account<span
                                            class="required">*</span></label>
                                            <select class="form-control" formControlName="fromAccount" (change)="selectedVal($event)" >
                                                <option *ngFor="let item of allItemList; let i=index"  [value]="item.accountNumber">{{item.accountNumber}}- {{item.currency}}</option>
                                               
                                              </select>
                                    <div *ngIf="transfer.fromAccount.touched && transfer.fromAccount.invalid" class="error">
                                        <div *ngIf="transfer.fromAccount.errors && transfer.fromAccount.errors.required ">
                                            From Account is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left" *ngIf="showBalance">
                                    <label for="email" class="links">Balance</label>
                                    <input type="text" [value]="allItemList[selectedIndex]?.balance"  class="form-control"
                                    required disabled>      
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                            <label for="account" class="links">To Account<span
                                                class="required">*</span></label>
                                        <input type="text" formControlName="toAccount" (keypress)="isNumberKey($event)" class="form-control"
                                            placeholder="Enter To Account" required>
                                        <div *ngIf="transfer.toAccount.touched && transfer.toAccount.invalid" class="error">
                                            <div *ngIf="transfer.toAccount.errors && transfer.toAccount.errors.required ">
                                            To Account is <strong>required</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <button type="button" class="btn btn-primary" style="margin-top: 30px;" (click)="checkCurrency();">Check Currency</button>
                                    </div>
                                </div>  
                                <!-- <div class="form-group text-left">
                                    <label for="account" class="links">To Account<span
                                            class="required">*</span></label>
                                    <input type="text" formControlName="toAccount" (keypress)="isNumberKey($event)" class="form-control"
                                        placeholder="Enter To Account" required>
                                    <div *ngIf="transfer.toAccount.touched && transfer.toAccount.invalid" class="error">
                                        <div *ngIf="transfer.toAccount.errors && transfer.toAccount.errors.required ">
                                           To Account is <strong>required</strong>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group text-left">
                                    <label for="account" class="links">Amount<span
                                            class="required">*</span></label>
                                    <input type="text" formControlName="ammount" class="form-control"
                                        placeholder="Enter Amount" (keypress)="isNumberKey($event)" required>
                                    <div *ngIf="transfer.ammount.touched && transfer.ammount.invalid" class="error">
                                        <div *ngIf="transfer.ammount.errors && transfer.ammount.errors.required ">
                                           Amount is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="transferForm.invalid" class="btn btn-primary">Transfer</button>
                                <!-- <button type="submit" [disabled]="transferForm.invalid"
                                    class="btn login_btn">Transfer</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-loader [loader]="loader"></app-loader>
<app-alert [sharedAlert]="foodService.showAlert" *ngIf="foodService.showAlert?.modalShow"></app-alert>

