<!-- account summary template -->
<div class="container shadow accountsummary">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 my-4">
                    <h2>Transaction Account Summary</h2>
                </div>
               
            </div>
        </div>
        <div class="col-12">
                
            <div class="card" *ngFor="let transaction of summaryRespose" >
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <p><small><b>Account Number:</b></small>  {{transaction?.toAccount}}</p>

                        </div>
                        <div class="col-md-4">
                            <p><small><b>Status:</b></small> {{transaction?.transactionStatus}} </p>

                        </div>
                        <div class="col-md-4 ml-auto float-lg-right text-lg-right">
                            <p><small><b>Transaction Date:</b></small> 
                                 {{transaction?.transactionDate | date:'dd-MM-yyyy'}}</p> 

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-3 ml-auto float-lg-right text-right">
                            <p><small><b>Transfed Amount:</b></small></p>
                            <h5>INR {{transaction?.transferredAmount}}</h5>
                        </div>
                    </div>
                </div>
            </div>


        
          
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>